apiVersion: gauravkr19.dev/v1alpha1
kind: MyResource
metadata:
  labels:
    app.kubernetes.io/name: myresource
    app.kubernetes.io/instance: myresource-sample
    app.kubernetes.io/part-of: myresource
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: myresource
  name: myresource-sample
spec:
  image: "docker.io/gauravkr19/go-app"
  imageDB: "docker.io/gauravkr19/postgresdb"
  deploymentReplicas: 1
  statefulSetReplicas: 1
  pvcSize: "1Gi"
  pvcExtensionNeeded: false
  newPVCSize: "1Gi"
  targetNamespace: "myapp-namespace"

